{{outlet}}

<ul>
	<li>
		{{#link-to "success"}}success{{/link-to}}
	</li>
	<li>
		{{#link-to "failure"}}failure{{/link-to}}
	</li>
	<li>
		{{#link-to "long-validation"}}long-validation{{/link-to}}
	</li>
	<li>
		{{#link-to "no-validate-page"}}no-validate-page{{/link-to}}
	</li>
	<li>
		{{#link-to "wrong-validate-page"}}wrong-validate-page{{/link-to}}
	</li>
</ul>
